@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: darkolivegreen;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px ;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    font-size: 1.5em;
    font-weight: bold;
     border: solid black 5px;
 }
 .logo:hover{
    color: yellow;
 }
 .navigation a{
     text-decoration: none;
     text-transform: uppercase;
     color:black;
     font-size: 1.05em;
     font-weight: 600;
     padding-left: 30px;
 }
 .navigation a:hover{
 color: palevioletred;
 font-size: 1.09;
 }
 body{
    background-color: black;
 }
 .f1{
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: red;
    padding-top: 350px;
    padding-right: 50px;
    font-size: 5em;
    font-weight: 1000;
 }